@import '../_settings/variables';

.AccessData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  .access-wrapper {
    width: 80vw;
    padding: 50px 50px;
    background: #e2ffc7;
    border-radius: 5px;
    box-shadow: -5px 5px 11px 2px rgba(214, 211, 214, 1);
    .access-text {
      margin-top: 20px;
      font-size: 0.9rem;
    }
  }
}
