@font-face {
  font-family: 'Gotham Narrow';
  src: url('../../../assets/fonts/GothamNarrow-Medium.woff') format('woff2'),
    url('../../../assets/fonts/GothamNarrow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow Ultra';
  src: url('../../../assets/fonts/GothamNarrow-Ultra.woff2') format('woff2'),
    url('../../../assets/fonts/GothamNarrow-Ultra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
