$white: #fff;
$black: #000;
$veryDarkGreen: #8c9b7e;
$darkGreen: #aabb99;
$lightGreen: #ddeeba;
$lightBrown: #997754;
$darkBrown: #654433;
$orange: #ee7733;
$darkSalmon: #cbaa99;
$lightSalmon: #feddcc;
