@import '../_settings/fonts.scss';
@import '../_settings/variables';

.MainLogo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
  .logo {
    max-width: 235px;
  }
  .subtitle {
    margin-top: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    color: $veryDarkGreen;
    text-transform: uppercase;
    max-width: 300px;
    font-family: 'Gotham Narrow Ultra';
    text-align: center;
    @media (min-width: 900px) {
      font-size: 1.3rem;
      max-width: 500px;
    }
  }
}
