@import '../_settings/variables';

.MenuBar {
  background: $darkBrown;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  @media (min-width: 900px) {
    height: 60px;
  }
  .menuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 450px;
    max-width: 550px;
    flex-direction: column;
    @media (min-width: 900px) {
      min-width: 580px;
      flex-direction: row;
    }
    text-transform: uppercase;
    li {
      margin-bottom: 5px;
      @media (min-width: 900px) {
        font-size: 0.9rem;
      }
    }
    a {
      text-decoration: none;
      color: $white;
      cursor: pointer;
      font-size: 0.8rem;
      @media (min-width: 900px) {
        font-size: 0.9rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
