.SocialMediaBar {
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 10px;
    width: 160px;
    height: 30px;
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
}
